<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cupid's Code</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><img id="site-logo" src="/Cupids-code.svg" alt="Logo" width="150px" height="150px"></a>
            {{#if loggedIn}} 
                <a class="btn" href="/logout">Logout</a>
            {{else}}
                <a class="btn" href="/login">Login</a>
                <a class="btn" href="/signup">Signup</a>
            {{/if}}
        </nav>
        <div class="user-profile">
            <img src="{{ userProfilePicture }}" alt="{{ username }}'s Profile Picture">
            <h1>{{ username }}</h1>
            <p>{{ age }} years old</p>
            <p>{{ location }}</p>
        </div>
    </header>

    <main>
        {{{body}}} <!-- This placeholder will be replaced by the content of views like 'home.handlebars' -->
    </main>

     {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

    <footer>
        <p>&copy; {{ currentYear }} Dating App</p>
        <p>Developed and Created by M&N</p>
    </footer>
</body>
</html>
